.card {
    background-color: #92E3A9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}
