.form__atualizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.formAtualizar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


